.navBrand{
  text-align: left;
  font-weight: 800;
  font-size: 2.5rem;
  color: red;
  box-shadow: 0px 0px 10px 10px  lightgray;
  margin: 0;
  padding: 1rem;
  background-color: ligh;
}

.navBrand img{
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1rem;
}

.btngroup{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.button{
  margin: 0 0.5rem;
  background-color: transparent;
  border: 0px;
}

.buttonimages{
  width: 20px;
  height: 20px;
}



.todolist{
  list-style: none;
  margin: 2.5% 10%;
  max-height: 350px;
  overflow-y: scroll;
  padding: 0 3%;
}

.tickedHeading{
  margin: 0 20rem;
  font-size: 1.25rem;
}

.tickedHeading img{
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1rem;
}

.todo{
  width: 60%;
  background-color: black;
  color: aliceblue;
  border-radius: 30px;
  margin: 0.75rem auto;
  height: 30px;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo:hover{
  box-shadow: 0px 0px 4px 4px lightgray;
}

/* Create todo styles */
.header{
  display: flex;
}
.createtodo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4% 10%;
  align-items: center;
}

.createtodoInput{
  width: 30%;
  height: 20%;
  border-radius: 20px;
  padding: 1%;
  background-color: transparent;
  border: 1px solid black;
}

.createtodoButton{
  border: 0;
  background-color: green;
  font-weight: 600;
  color: azure;
  border-radius: 15px;
  width: 7.5%;
  height: 40px;
  font-size: 0.75rem;
  margin: 0 1%;
}
.resetButton{
  width: 2.5rem;
  height: 2.5rem  ;
  border-radius: 50%;
  position: absolute;
  right: 5%;
  top: 20px;
  background-color: red;
}
.resetButton img{
  width: 1.5rem;
  height: 1.5rem;
}
.editInput{
  background-color: transparent;
  padding: 1%;
  width: 80%;
  border: 1px solid white;
  border-radius: 20px;
  color: whitesmoke;
}

.editTodo{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.editInput::placeholder{
  color: aliceblue;
}

@media screen and (max-width: 850px) {
  /* .todolist{
    margin: 5%;
  }
  .todo{
    width: 90%;
  } */
  .createtodo{
    margin: 4% 5%;
  }

  .createtodoButton{
    width: 15%;
    font-size: 0.65rem;
  }

  .createtodoInput{
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .todolist{
    font-size: 0.90rem;
    margin: 0%;
  }
  .todo{
    width: 94%;
  }
  .button{
    margin: 0 0.25rem;
  }
  
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3e423c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #858383;
}